<div>
    <h2>
        <span jhiTranslate="bsrateApp.exchangeRate.home.title">Exchange Rates</span>
        <button class="btn btn-primary float-right jh-create-entity create-exchange-rate" [routerLink]="['/', { outlets: { popup: ['exchange-rate-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bsrateApp.exchangeRate.home.createLabel">
            Create new Exchange Rate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="exchangeRates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="bsrateApp.exchangeRate.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="conversionvalue"><span jhiTranslate="bsrateApp.exchangeRate.conversionvalue">Conversionvalue</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sueldomin"><span jhiTranslate="bsrateApp.exchangeRate.sueldomin">Sueldomin</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exchangeRate of exchangeRates ;trackBy: trackId">
                <td><a [routerLink]="['../exchange-rate', exchangeRate.id ]">{{exchangeRate.id}}</a></td>
                <td>{{exchangeRate.date | date:'mediumDate'}}</td>
                <td>{{exchangeRate.conversionvalue}}</td>
                <td>{{exchangeRate.sueldomin}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../exchange-rate', exchangeRate.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'exchange-rate/'+ exchangeRate.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'exchange-rate/'+ exchangeRate.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="exchangeRates && exchangeRates.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
