<div class="row">
    <!--<div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>-->
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Referencias del Bolivar</h1>
        <p class="lead" jhiTranslate="home.subtitle">Un lugar para consultar la historia y el valor del Bs y Bsf, sin tomar en cuenta los dolares preferenciales</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <!-- Table -->
            <!--<div *ngIf="exchangeRate.id"> ER: {{exchangeRateObject()}} </div>-->
            
            <div *ngIf="exchangeRate.id">
                Fecha: {{exchangeRate.date | date:'mediumDate'}}
                <br>
                Tasa: {{exchangeRate.conversionvalue | number}} Bsf por $1, 
                <br>
                Sueldo Minimo (Minimum Monthly Wage) ${{exchangeRate.sueldomin / exchangeRate.conversionvalue | number}},
                <br>
                Sueldo Minimo en Bsf: {{exchangeRate.sueldomin  | number}}
                    
                    
                
                <table class="table table-bordered table-sm table-responsive">
                    <thead>
                        <tr>
                            <th>Dollar $</th>
                            <th>BsF</th>
                            <th>Bs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 
                               <small> <input [(ngModel)]="dollars" type="number"></small>
                            </td>
                            <td>{{exchangeRate.conversionvalue * dollars | number}}</td>
                            <td>{{exchangeRate.conversionvalue * dollars * 1000 | number}}</td>
                        </tr>
                        <tr>
                            <td>{{bolivaresFuerte / exchangeRate.conversionvalue  | number}}</td>
                            <td> 
                               <small> <input [(ngModel)]="bolivaresFuerte" type="number"></small>
                            </td>
                            <td>{{exchangeRate.conversionvalue * dollars * 1000 | number}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- Date Picker-->
            <div *ngIf="isSearching">Searching.. </div>

            <form name="editForm" role="form" novalidate (ngSubmit)="searchByDate()" #editForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bsrateApp.exchangeRate.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" [(ngModel)]="searchExchangeRate.date"
                            [minDate]="minDate" [maxDate]="maxDate" required/>
                        <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                    
                </span>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                    </div>
                </div>

                <button type="submit" [disabled]="editForm.form.invalid || isSearching" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.search">Buscar</span>
        </button>
            </form>
            <br>
        </div>
        <br>
        <p *ngIf="latestExchangeRate?.date"> Ultima fecha disponible en el sistema: {{latestExchangeRate.date | date:'shortDate'}}, Tasa: {{latestExchangeRate.conversionvalue
            | number}} BsF </p>
        <p *ngIf="firstExchangeRate?.date"> Primera fecha disponible en el sistema: {{firstExchangeRate.date | date:'shortDate'}}, Tasa: {{firstExchangeRate.conversionvalue
            | number}} BsF </p>
        <br>

        <div class="table-responsive" ></div>
            <table class="table table-striped">
                <thead>
                <th ><span jhiTranslate="bsrateApp.exchangeRate.date">Date</span> <span class="fa fa-sort"></span></th>
                <th ><span jhiTranslate="bsrateApp.exchangeRate.conversionvalue">Conversionvalue</span> <span class="fa fa-sort"></span></th>
                <th ><span jhiTranslate="bsrateApp.exchangeRate.sueldomin">BsF Sueldomin</span> <span class="fa fa-sort"></span></th>
                <th><span jhiTranslate="bsrateApp.exchangeRate.sueldomindoll">Sueldo Minimo Mensual $</span> <span class="fa fa-sort"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let exchangeRate of allExchangeRateFirstMonth">
                    <td>{{exchangeRate.date | date:'mediumDate'}}</td>
                    <td>{{exchangeRate.conversionvalue | currency : "BsF"}}</td>
                    <td>{{exchangeRate.sueldomin | currency : "BsF"}}</td>
                    <td>{{exchangeRate.sueldomin / exchangeRate.conversionvalue | currency : "USD"}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <p>El historial del dolar ha sido extraido de los archivos de <p><a href="https://dolartoday.com/">Dolar Today</a>. </p>
        <br>
        <p> Cualquier sugerencia por favor enviar a 
                <a href="mailto:bshistorico@gmail.com" target="_top">bshistorico@gmail.com</a></p>
       
    </div>
</div>