<div class="row">
    <!--<div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>-->
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Maquina del tiempo</h1>
        <p class="lead" jhiTranslate="home.subtitle">Un lugar para consultar la historia y el valor del Bs y Bsf, sin tomar en cuenta los dolares preferenciales</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <!-- Table -->
            <!--<div *ngIf="exchangeRate.id"> ER: {{exchangeRateObject()}} </div>-->
            <div *ngIf="exchangeRate.id">
                <p class="h6"> Tasa: {{exchangeRate.conversionvalue | number}} </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha: {{exchangeRate.date | date:'shortDate' }}</th>
                            <th>Dollar $</th>
                            <th>Bolivar Fuerte</th>
                            <th>Bolivar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Cambio</th>
                            <td> <input [(ngModel)]="dollars"></td>
                            <td>{{exchangeRate.conversionvalue * dollars | number}}</td>
                            <td>{{exchangeRate.conversionvalue * dollars * 1000 | number}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- Date Picker-->
            <div *ngIf="isSearching">Searching.. </div>

            <form name="editForm" role="form" novalidate (ngSubmit)="searchByDate()" #editForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bsrateApp.exchangeRate.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" [(ngModel)]="exchangeRate.date"
                            [minDate]="minDate" [maxDate]="maxDate" required/>
                        <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                    
                </span>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                    </div>
                </div>

                <button type="submit" [disabled]="editForm.form.invalid || isSearching" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.search">Buscar</span>
        </button>
                <br>
        </div>
        <br>
        <p *ngIf="latestExchangeRate?.date"> Ultima fecha disponible en el sistema: {{latestExchangeRate.date | date:'shortDate'}}, Tasa: {{latestExchangeRate.conversionvalue | number}} BsF </p>
        <p *ngIf="firstExchangeRate?.date"> Primera fecha disponible en el sistema: {{firstExchangeRate.date | date:'shortDate'}}, Tasa: {{firstExchangeRate.conversionvalue | number}} BsF </p>
        <br>
  


    </div>
</div>
</div>